.dv {
    white-space: pre-line;
    background-color: antiquewhite;
    color: black;

    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: justify;

    width: 30pc;
    max-width: 45pc;
    padding: 80pt 50pt;

    box-shadow: 10pt 10pt 10pt rgba(0, 0, 0, 0.4);
}